In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('Dados_AHP_Compra.xlsx', sheet_name='CompraMoto', index_col=0)
data

                     Custo  Cilindrada  Esportividade
Comprar uma moto
Custo             1.000000           5       3.000000
Cilindrada        0.200000           1       0.333333
Esportividade     0.333333           3       1.000000

In [10]:
def CalculaVetorPrio(df):
    soma = df.sum()
    df_norm = pd.DataFrame()
    for i in range(len(data)):
        df_norm[i] = df[df.columns[i]]/soma[i]
    vetor_prio = df_norm.mean(axis=1)
    return vetor_prio

In [15]:
Prioridade = CalculaVetorPrio(data)
Prioridade

Comprar uma moto
Custo            0.633346
Cilindrada       0.106156
Esportividade    0.260498
dtype: float64

In [25]:
def CalculoLamba(vetor, df):
    df_temp = pd.DataFrame()
    for i in range(len(data)):
        df_temp[i] = df[df.columns[i]]*vetor[i]
    df_temp.columns = df.columns
    total = (df_temp.sum(axis=1)/vetor).sum()
    n = len(df)
    Lambda = total/n
    CI = (Lambda-n)/(n-1)
    RI=0.58
    CR = CI/RI
    return df_temp, Lambda,CI,CR

In [26]:
data1, Y, I, R = CalculoLamba(Prioridade, data)

In [27]:
data1

                     Custo  Cilindrada  Esportividade
Comprar uma moto
Custo             0.633346    0.530782       0.781494
Cilindrada        0.126669    0.106156       0.086833
Esportividade     0.211115    0.318469       0.260498

In [28]:
Y

3.0387146809594667

In [29]:
I

0.019357340479733365

In [30]:
R

0.03337472496505753